[submodule "HTML-CSS"]
	path = https://nrcaz.github.io/HTML-CSS
	url = https://github.com/nrcaz/HTML-CSS.git
[submodule "JavaScript"]
	path = https://nrcaz.github.io/JavaScript
	url = https://github.com/nrcaz/JavaScript.git
[submodule "portfolio"]
	path = https://nrcaz.github.io/portfolio
	url = https://github.com/nrcaz/Mario-Portfolio.git
[submodule "CV"]
	path = https://nrcaz.github.io
	url = https://github.com/nrcaz/CV.git
