[submodule "HTML-CSS"]
	path = https://nrcaz.github.io/HTML-CSS
	url = https://nrcaz.github.io/HTML-CSS
[submodule "JavaScript"]
	path = https://nrcaz.github.io/JavaScript
	url = https://nrcaz.github.io/JavaScript
[submodule "portfolio"]
	path = https://nrcaz.github.io/Mario-Portfolio
	url = https://nrcaz.github.io/portfolio
[submodule "CV"]
	path = https://nrcaz.github.io/CV
	url = https://nrcaz.github.io/CV
